html,body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

.content-wrapper {
	height:100%;
  	width:100%;
  	overflow:auto;   
}

.content-section {
	height: 100%;
	padding-top: 50px;
}

#start {
	background-color: #F5F5F5;
}

#about {
	background-color: #DDC3DE;
}

ul {
	list-style: none;
}

.square {
    // float: left;
    // position: relative;
    /* width: 30%; */
    padding-bottom: 30%;
    // margin: 1.66%;
    background-color: #F3F3F3;
        border: 6px solid #FFF;
    // overflow: hidden;

    .content {
    	position: absolute;
	    height: 100%;
    	width: 92%;
	    padding: 5%;
    }

    .remove-place {
	    position: absolute;
	    top: 10px;
	    right: 0px;
    }
}


.place-table {
    display: table;
    height: 100%;
    width: 100%;
    .table-cell {
	    display: table-cell;
	    vertical-align: middle;
	    text-align: center;
    }
}