html,body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

.content-wrapper {
	height:100%;
  	width:100%;
  	overflow:auto;   
}

.content-section {
	height: 100%;
	padding-top: 50px;
}

#start {
	background-color: #F5F5F5;
}

#about {
	background-color: #DDC3DE;
}

ul {
	list-style: none;
}

.square {
    // float: left;
    // position: relative;
    /* width: 30%; */
    padding-bottom: 30%;
    // margin: 1.66%;
    background-color: #F3F3F3;
        border: 6px solid #FFF;
    // overflow: hidden;

    .content {
    	position: absolute;
	    height: 90%;
	    width: 90%;
	    padding: 5%;
    }
}