<label for="place-name">Place</label>
<input type="text" name="place-name" class="form-control" data-bind="value: place">

<label for="place-name">City</label>
<input type="text" name="place-name" class="form-control" data-bind="value: city">

<label for="place-name">Website</label>
<input type="text" name="place-name" class="form-control" data-bind="value: website">

<button class="btn btn-xs btn-default" data-bind="click: updatePlace">save</button>
<button class="btn btn-xs btn-default" data-bind="">Avbryt <span class="fa fa-times"></span></button>